.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 1rem;
  border: 2px solid #a8a8f7;
  box-shadow: 10px 10px 33px 7px rgba(0, 0, 0, 0.31);
}

.filter-bar {
  padding: 10px 5px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: white;
  font-weight: bold;
}

.car-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
}

.car-photo {
  max-width: 100%;
  border-radius: 8px;
}

.expiring {
  border: 2px solid red;
}

#remove-btn {
  margin-top: 10px;
  border: 2px solid red;
  background-color: rgb(235, 132, 132);
  padding: 8px 24px;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
