* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  margin-top: 20px;
  color: rgb(80, 79, 79);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 3rem;
}
